.imgmain22{
  width: 700px;
  height: 500px;
  object-fit: cover;
  margin-top:-39px ;
  margin-left: -30px;
}
.about1{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 700px;
  margin-top: -400px;
  
}
.about2{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left: 700px;
  margin-top: 50px;
}
.about3{
  font-family: 'Times New Roman', Times, serif;
  font-size: 20px;
  margin-left:700px;
  margin-top:50px;
}
.vidoo{
  margin-top: -300px;
  margin-left: 30px;
}